h1{
    font-size: 50px ;
}
h2{
    font-size: 35px ;
}
body{
    font-family: 'Prompt', sans-serif;
    margin: 0px ;
}
.color{
    color: rgb(236, 15, 137);
}
.half-width{
    width: 50%;
    padding-left: 6% ;
}
.flexibility{
    display: flex;
}
.half-width img{
    width: 80%;
}
.button{
    background-image: linear-gradient(rgb(206, 75, 32), rgb(245, 158, 172));
    padding:10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: lightyellow;
    border-radius: 10px;
}
.image{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 170px;
}
.dream{
    background-image: url(images/dream-banner.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiances{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.Eitems{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 4% ;
    box-shadow: 10px 10px 40px gray;
}